@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}
/*-------------- base --------------- */
body {
  font-family: arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: .25px;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.navbar .icon-bar {
  background-color: black;
}
nav li {
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 34px;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  letter-spacing: .75px;
}
a:link {
  color: #83c3e8;
  /*text-decoration: underline;
    This presently interferes with buttons that have <a> tags. Do the buttons need <a> tags? If so, do they need to be styled separately?*/
}
a:visited {
  color: #83c3e8;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: none;
}
nav a:link {
  color: #333;
}
nav a:visited {
  color: #333;
  text-decoration: none;
}
nav a:hover {
  color: #83c3e8;
  text-decoration: none;
}
nav a:active {
  color: #83c3e8;
  text-decoration: none;
}
.active {
  background-color: #eee;
}
.active a {
  text-decoration: underline;
}
.active a:hover {
  color: #333;
}
footer {
  margin: 20px;
  text-align: center;
}
.btn {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.btn-default:hover {
  color: #fff;
  background-color: #333;
  border-color: #333; /*set the color you want here*/
}
.main_container {
  margin: 51px auto 20px auto;
  padding: 14px;
}
/* --------------- search bar -----------------*/
  .search-or {
    margin: -12px 10px 0px 10px;
  }
  .search-date {
    margin-bottom: 10px;
  }
/* --------- reservation styling ---------- */

.res_container {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -6px 0 white, 6px 0 white, 0 10px 10px -10px black;
  margin-bottom: 14px;
}
#res_title {
  padding: 10px 15px 10px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  font-size: 16px;
  text-transform: uppercase;
}
#res_status {
  display: block;
}
  /*color change depending on status*/
.pending .res-body, .pending .res-text {
  background-color: #E8E8E8;
}
.pending #res_title {
  background-color: #FFFEA1;
}
.completed #res_title {
  background-color: #B8B8B8;
}
.confirmed #res_title {
  background-color: #B8FF94;
}
.res-text {
  line-height: 1.2;
  font-style: italic;
  font-size: 12px;
  margin: 0 -15px 0 -15px;
  padding: 14px;
}
.res-body {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
.res-details {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  margin: 2px;
}
.pass-info, .pmt-info {
  margin-top: 10px;
  list-style: none;
}
.button-col {
  width: 100%;
  margin: 14px;
}
.li-bold {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}
.pass-info_ul {
  list-style: none;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 4px;
}
.collapse_ul {
  list-style: none;
  padding: 0;
}

/* -------------- form styling --------------- */

.custom-form fieldset {
  max-width: 500px;
  margin: auto;
  background-color: #F8F8F8;
  border: 1px solid #CDCDCD;
  padding: 10px 30px;
  border-radius: 10px;
}
.custom-form .btn {
  width: 100%;
  text-transform: uppercase;
}
input {
  font-size: 12px;
  font-style: italic;
  border-color: black;
}
.form-heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px auto;
  max-width: 480px;
  text-align: center;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #CDCDCD;
}
.checkbox label {
  font-size: 12px;
  font-style: italic;
}
.custom-form p {
  text-align: center;
}

/* ---------- media queries ------------- */
  @media (min-width: 600px) {
  .search-group {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-end;
  }
  .search-name {
    width: 275px;
  }
  .search-or {
    margin: 4px 10px 0 10px;
  }
  .search-date {
    width: 202px;
  }
  .button-col {
    width: 250px;
    margin: 14px;
  }
  #res_status {
    float: right;
  }
}
